@model IEnumerable<Idea.Models.Department>

@{
    ViewData["Title"] = "Department";
}
<div style="width: 150px; margin-left: auto; margin-right: auto;">

<h3>@ViewData["Title"]</h3>
</div>
<div style="width: 75px; margin-left: auto; margin-right: auto;">
<p>
    <a asp-action="Create" class="btn btn-success">CREATE</a>
</p> 
</div>
  <table class="table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-secondary">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
